*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #026873;
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
}
header{
    background-color: rgb(35, 30, 164);
    width:100%;
    flex-direction: column;
    position: fixed;
    top: 0;
    border-radius: 10px;
  
}
.logo{
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 5px;  
}
footer{
    background-color: rgb(200, 199, 221);
   padding: 5px;
   margin-top: 10px;
 
}
.boton1{
    width: 150px;
    height: 25px;
    border-radius: 10px;
    background:#0A3871;
    color: #D8DFE8;
    font-size: 15px;
    box-shadow: 3px 3px rgba(0,0,0,0.5);
}
p{
    color: white;
    font-size: larger;
    text-align: center;
}
.boton2{
    width: 150px;
    height: 25px;
    border-radius: 10px;
    background: #dfe3ea;
    color: #0A3871;
    font-size: 18px;
    margin-left: 2%;
    box-shadow: 3px 3px rgba(0,0,0,0.5);
}
.botonCopy{
    width: 150px;
    height: 25px;
    border-radius: 10px;
    background: #dfe3ea;
    color: #0A3871;
    font-size: 18px;
    margin-left: 2%;
    box-shadow: 3px 3px rgba(0,0,0,0.5);
}
.texto{
    color: #0A3871;
    font-size: 15.458px;
    font-family: console;
    padding: 5px;
}
.container{
    background: white;
    height: 50%;
    align-items: flex-end;
    width:90%;
    margin-top: 10px;
    margin-left: 1%;
    margin-right:5% ;
    padding: 5px;
  }
.dosColumnastext{
    display: inline-block;
    margin-top: 100px;
    
  }
  .texto2{
    
    width: 500px;
    height: 433px;
    font-size: 20px;
   border: none;
    color: #0A3871;
    background-color: rgb(233, 243, 243);
    
}
@media screen and (min-width: 660px){
body{
    background-color: #026873;
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
   background-size: 13px, 29px, 37px, 53px;
    height: 300px;
}

header{
    background-color: rgb(35, 30, 164);
    width:100%;
    flex-direction: column;
    position: fixed;
    top: 0;
    border-radius: 10px;
  
}
.logo{
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 5px;  
}
.boton1{
    width: 250px;
    height: 55px;
    border-radius: 15px;
    background:#0A3871;
    color: #D8DFE8;
    font-size: 15px;
     box-shadow: 10px 10px rgba(0,0,0,0.5);

     cursor: pointer;
            outline: none;
            transition: 0.2s all;
}
p{
    color: white;
    font-size: larger;
    text-align: center;
}
.boton2{
    width: 250px;
    height: 55px;
    border-radius: 15px;
    background: #dfe3ea;
    color: #0A3871;
    font-size: 18px;
    margin-left: 2%;
    box-shadow: 10px 10px rgba(0,0,0,0.5);

    cursor: pointer;
            outline: none;
            transition: 0.2s all;
}
.texto{
    width: 300px;
    height: 233px;
    font-size: 20px;
    border: none;
    color: #0A3871;
    background-color: rgb(233, 243, 243);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.texto2{
      
    width: 300px;
    height: 233px;
    font-size: 20px;
   border: none;
    color: #0A3871;
    background-color: rgb(233, 243, 243);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imagen{
    padding-left: 50px;
    padding-bottom: 133px;    
  }
.Areadetexto{
    padding-bottom: 10px;
    padding-left: 8%;
  }
textarea::placeholder{
    color: #0A3871;
}
.container{
    background: white;
    height: 410px;
    align-items: flex-end;
    width:450px ;
    margin-top: 80px;
    margin-left: 2%;

  }


.dosColumnas{
    display: flex;
    margin-left: 3%;
    
  }
.dosColumnastext{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}
h3{
    margin-left: 3%;
    margin-top: -0.5%;
}
.botonCopy{
    width: 250px;
    height: 55px;
    border-radius: 15px;
    background: #dfe3ea;
    color: #0A3871;
    font-size: 18px;
    margin-left: 10%;    
    box-shadow: 10px 10px rgba(0,0,0,0.5);

    cursor: pointer;
            outline: none;
           
}

.texto2{
      
    width: 300px;
    height: 233px;
    font-size: 20px;
   border: none;
    color: #0A3871;
    background-color: rgb(233, 243, 243);
    
}

  
footer{
    background-color: rgb(200, 199, 221);
   padding: 5px;
   margin-top: 5px;
   height:50% ;
 
}
}